.todo {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin: 15px 0;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #555;
  color: black;
  background-color: #fff;
  transition: 1s;
}

.todoText {
  width: 100%;
  text-align: left;
}

.completedTodo {
  background-color: #58b478;
  text-decoration: line-through;
  transition: 1s;
}

.inputForChange {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  margin: 15px 0;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #555;
  color: black;
  background-color: #fff;
  width: 536.8px;
  height: 20px;
}

.editImage,
.deleteImage {
  margin-right: 10px;
}

.editImage:hover {
  color: rgb(227, 145, 21);
  transition: 0.5s;
  cursor: pointer;
}

.deleteImage:hover {
  color: red;
  transition: 0.5s;
  cursor: pointer;
}

.doneImage:hover {
  color: lime;
  cursor: pointer;
  transition: 0.5s;
}

.appleImage {
  margin-right: 10px;
}
